<div class="container p-5 h-100 main-container">
  <div class="content-card row">
    <div class="col-sm">
      <div class="row header-row">
        <h1>Личная информация</h1>
      </div>
      <div class="row info-row">
        <div class="col info-nm">
          Имя
        </div>
        <div class="col info-content">
          <span>{{appService.user.name}}</span>
        </div>
        <div class="col info-edit-b">
          <input type="submit" id="editB" value="edit">
        </div>
      </div>
      <div class="row info-row">
        <div class="col info-nm">
          Почта
        </div>
        <div class="col info-content">
          <span>{{appService.user.email}}</span>
        </div>
        <div class="col info-edit-b">
          <input type="submit" id="editB" value="edit">
        </div>
      </div>
      <div class="row info-row">
        <div class="col info-nm">
          Пароль
        </div>
        <div class="col info-content">
          <span>{{appService.user.password}}</span>
        </div>
        <div class="col info-edit-b">
          <input type="submit" id="editB" value="edit">
        </div>
      </div>
    </div>
  </div>
</div>